# service data
HOST=0.0.0.0
PORT=8080
ENVIRONMENT=development
LOG_LEVEL=trace

# postgres
POSTGRES_DB=products
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/products

# system
TZ=Etc/UTC
